# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Apache Spark

Some of the commonly used libraries used by Data Scientists include:
1. scikitlearn
2. matplotlib
3. pandas
4. numpy

|Data Science Tools|
|------------------|
|Python|
|R|
|Tableu|
|Power BI|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
+ Data Science Tools
+ Data Science Libraries
+ Popular Languages
+ Arithmetic in python
+ Converting minutes to hours

## Author
Burhanuddin